
{% extends "layouts/default.html" %}

{% block title %} Dashboard {% endblock title %}

{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}

    <div class="panel-header bg-primary-gradient">
      <div class="page-inner py-5">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
          <div>
            <h2 class="text-white pb-2 fw-bold">SEA  Sistema Eletrônico de Automação</h2>
            <h5 class="text-white op-7 mb-2">L3 Desenvolvimento</h5>
          </div>
          <div class="ml-md-auto py-2 py-md-0">
            <a href="#" class="btn btn-white btn-border btn-round mr-2">Manage</a>
            <a href="#" class="btn btn-secondary btn-round">Add Customer</a>
          </div>
        </div>
      </div>
    </div>
    <div class="page-inner mt--5">
      <div class="row mt--2">
        <div class="col-md-6">
          <div class="card card-stats card-round">
            <div class="card-body">
              <div class="card-title">Monitoramento Host &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ip}}</div></br>
              <div class="card-category" >Dia &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label id="data"></label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                Hs:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label id="hora"></label>&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Tempereatura CPU&nbsp; <label id="temp">temp</label><label>&nbsp;°C</label>
                
                  <script>                                                                                    
                   
                
                    // Função para formatar 1 em 01
                    const zeroFill = n => {
                      return ('0' + n).slice(-2);
                    }

                    // Cria intervalo
                    const interval = setInterval(() => {                      

                      // Pega o horário atual
                      const now = new Date();

                      // Formata a data conforme dd/mm/aaaa hh:ii:ss
                      const data = zeroFill(now.getUTCDate()) + '/' + zeroFill((now.getMonth() + 1)) + '/' + now.getFullYear();
                      const hora =  zeroFill(now.getHours()) + ':' + zeroFill(now.getMinutes()) + ':' + zeroFill(now.getSeconds());
                     
                      // Exibe na tela usando a div#data-hora
                      document.getElementById('data').innerHTML = data;
                      document.getElementById('hora').innerHTML = hora;
                      
                      atualiza();
                      
                    }, 1000);
                  
                  </script>
         
              </div>

              
              <!-- <div class="d-flex flex-wrap justify-content-around pb-2 pt-4">
                
                <div class="px-2 pb-2 pb-md-0 text-center">
                  <div id="circles-1"></div>
                  <h6 class="fw-bold mt-3 mb-0">Temperatura</h6>
                </div>

                <div class="px-2 pb-2 pb-md-0 text-center">
                  <div id="circles-2"></div>
                  <h6 class="fw-bold mt-3 mb-0">Espaço utilizado</h6>
                </div>

                <div class="px-2 pb-2 pb-md-0 text-center">
                  <div id="circles-3"></div>
                  <h6 class="fw-bold mt-3 mb-0">Uso de memória</h6>
                </div>

              </div> -->
            </div>
          </div>
        </div>

       
            

        <!-- <div class="col-md-6">
          <div class="card full-height">
            <div class="card-body">
              <div class="card-title">Frequencia de acionamentos</div>
              <div class="row py-3">
                <div class="col-md-4 d-flex flex-column justify-content-around">
                  <div>
                    <h6 class="fw-bold text-uppercase text-success op-8">Total</h6>
                    <h3 class="fw-bold">9.782</h3>
                  </div>
                  <div>
                    <h6 class="fw-bold text-uppercase text-danger op-8">Inatividade</h6>
                    <h3 class="fw-bold">1,248</h3>
                  </div>
                </div>
                <div class="col-md-8">
                  <div id="chart-container">
                    <canvas id="totalIncomeChart"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->
      </div>
     
         <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="card-header">
              <div class="card-title">Acionamento manual</div>
            </div>
            <div class="card-body pb-0">
               
                  <div class="d-flex" >                     
                    <button onclick="aciona_rele('rele1') "class="btn btn-info btn-xs" name="rele1" value="1" id="alert_demo_6">OUT 1</button>
                <div class="flex-1 pt-1 ml-2">
                  <h6 class="fw-bold mb-1">Rele1</label></h6>
                </div> 
                <div class="d-flex ml-auto align-items-center">
                  <label class="switch">
                    <input type="checkbox" id="switch_1" name="switch_1"  value="">
                    <span class="slider round"></span>
                  </label>  
                </div>
              </div>
              <div class="separator-dashed"></div>
               
                 <div class="d-flex"> 
                 <button onclick="aciona_rele('rele2')" class="btn btn-info btn-xs" name="rele2" value="1">OUT 2</button>
                <div class="flex-1 pt-1 ml-2">
                  <h6 class="fw-bold mb-1">Rele 2 </h6>
                </div>
                <div class="d-flex ml-auto align-items-center">
                  <label class="switch">
                    <input type="checkbox" id="switch_2" name="switch_2" value="">
                    <span class="slider round"></span>
                  </label>  
                </div>
              </div>
              <div class="separator-dashed"></div>
                            
              
              <div class="d-flex">
                 <button onclick="aciona_rele('rele3')" class="btn btn-info btn-xs" name="rele3" value="1">OUT 3</button>
                <div class="flex-1 pt-1 ml-2">
                  <h6 class="fw-bold mb-1">Rele 3 </h6>
                </div>
                <div class="d-flex ml-auto align-items-center">
                  <label class="switch">
                    <input type="checkbox" id="switch_3" name="switch_3" value="">
                    <span class="slider round"></span>
                  </label>  
                </div>
              </div>
              <div class="separator-dashed"></div>
             
              
              <div class="d-flex">
                 <button onclick="aciona_rele('rele4')" class="btn btn-info btn-xs" name="rele4" value="1">OUT 4</button>
                <div class="flex-1 pt-1 ml-2">
                  <h6 class="fw-bold mb-1">Rele 4 </h6>
                </div>
                <div class="d-flex ml-auto align-items-center">
                  <label class="switch">
                    <input type="checkbox" id="switch_4" name="switch_4" value="">
                    <span class="slider round"></span>
                  </label>  
                </div>
              </div>
              <div class="separator-dashed"></div>
              
              <div class="d-flex">
                 <button onclick="aciona_rele('rele5')" class="btn btn-info btn-xs" name="rele5" value="1">OUT 5</button>
                <div class="flex-1 pt-1 ml-2">
                  <h6 class="fw-bold mb-1">Rele 5 </h6>
                </div>
                <div class="d-flex ml-auto align-items-center">
                  <label class="switch">
                    <input type="checkbox" id="switch_5" name="switch_5" value="">
                    <span class="slider round"></span>
                  </label>  
                </div>
              </div>
              <div class="separator-dashed"></div>
              
              <div class="d-flex">
                 <button onclick="aciona_rele('rele6')" class="btn btn-info btn-xs" name="rele6" value="1">OUT 6</button>
                <div class="flex-1 pt-1 ml-2">
                  <h6 class="fw-bold mb-1">Rele 6 </h6>
                </div>
                <div class="d-flex ml-auto align-items-center">
                  <label class="switch">
                    <input type="checkbox" id="switch_6" name="switch_6" value="">
                    <span class="slider round"></span>
                  </label>  
                </div>
              </div>
              <div class="separator-dashed"></div>
              
              <div class="d-flex">
                 <button onclick="aciona_rele('rele7')" class="btn btn-info btn-xs" name="rele7" value="1">OUT 7</button>
                <div class="flex-1 pt-1 ml-2">
                  <h6 class="fw-bold mb-1">Rele 7 </h6>
                </div>
                <div class="d-flex ml-auto align-items-center">
                  <label class="switch">
                    <input type="checkbox" id="switch_7" name="switch_7" value="">
                    <span class="slider round"></span>
                  </label>  
                </div>
              </div>
              <div class="separator-dashed"></div>
              
              <div class="d-flex">
                 <button onclick="aciona_rele('rele8')" class="btn btn-info btn-xs" name="rele8" value="1">OUT 8</button>
                <div class="flex-1 pt-1 ml-2">
                  <h6 class="fw-bold mb-1">Rele 8 </h6>
                </div>
                <div class="d-flex ml-auto align-items-center">
                  <label class="switch">
                    <input type="checkbox" id="switch_8" name="switch_8" value="">
                    <span class="slider round"></span>
                  </label>  
                </div>
              </div>
              <div class="separator-dashed"></div>
              
              <div class="d-flex">
                 <button onclick="aciona_rele('rele9')" class="btn btn-info btn-xs" name="rele9" value="1">OUT 9</button>
                <div class="flex-1 pt-1 ml-2">
                  <h6 class="fw-bold mb-1"><label contenteditable="true">Rele 9 </label></h6>
                </div>
                <div class="d-flex ml-auto align-items-center">
                  <label class="switch">
                    <input type="checkbox" id="switch_9" name="switch_9" value="">
                    <span class="slider round"></span>
                  </label>  
                </div>
              </div>
              <div class="separator-dashed"></div>
              
              <div class="d-flex">
                 <button onclick="aciona_rele('rele10')" class="btn btn-info btn-xs" name="rele10" value="1">OUT 10</button>
                <div class="flex-1 pt-1 ml-2">
                  <h6 class="fw-bold mb-1">Rele 10 </h6>
                </div>                              
                <div class="d-flex ml-auto align-items-center">
                  <label class="switch">
                    <input type="checkbox" id="switch_10" name="switch_10" value="">
                    <span class="slider round"></span>
                  </label>  
                </div>
              </div>
              <div class="separator-dashed"></div>

                <div class="d-flex">
                   <button onclick="aciona_rele('rele11')"class="btn btn-info btn-xs" name="rele11" value="1">OUT 11</button>
                  <div class="flex-1 pt-1 ml-2">
                    <h6 class="fw-bold mb-1">Rele 11 </h6>
                  </div>                              
                  <div class="d-flex ml-auto align-items-center">
                    <label class="switch">
                      <input type="checkbox" id="switch_11" name="switch_11" value="">
                      <span class="slider round"></span>
                    </label>  
                  </div>
                </div>
                <div class="separator-dashed"></div>

                  <div class="d-flex">
                     <button onclick="aciona_rele('rele12')" class="btn btn-info btn-xs" name="rele12" value="1">OUT 12</button>
                    <div class="flex-1 pt-1 ml-2">
                      <h6 class="fw-bold mb-1">Rele 12 </h6>
                    </div>                              
                    <div class="d-flex ml-auto align-items-center">
                      <label class="switch">
                        <input type="checkbox" id="switch_12" name="switch_12" value="">
                        <span class="slider round"></span>
                      </label>  
                    </div>
                  </div>
                  <div class="separator-dashed"></div>

                    <div class="d-flex">
                       <button onclick="aciona_rele('rele13')" class="btn btn-info btn-xs" name="rele13" value="1">OUT 13</button>
                      <div class="flex-1 pt-1 ml-2">
                        <h6 class="fw-bold mb-1">Rele 13 </h6>
                      </div>                              
                      <div class="d-flex ml-auto align-items-center">
                        <label class="switch">
                          <input type="checkbox" id="switch_13" name="switch_13" value="">
                          <span class="slider round"></span>
                        </label>                          
                      </div>
                    </div>
                    <div class="separator-dashed"></div>
              
            </div>
          </div>
        </div>

    </div>

{% endblock content %}

{% block javascripts %}

<script src="/static/assets/js/demo.js"></script>

<script> // Monitor os switchs (on / off)
                                                        
  var checkbox1 = document.getElementById('switch_1');
  var checkbox2 = document.getElementById('switch_2'); 
  var checkbox3 = document.getElementById('switch_3'); 
  var checkbox4 = document.getElementById('switch_4'); 
  var checkbox5 = document.getElementById('switch_5'); 
  var checkbox6 = document.getElementById('switch_6'); 
  var checkbox7 = document.getElementById('switch_7'); 
  var checkbox8 = document.getElementById('switch_8'); 
  var checkbox9 = document.getElementById('switch_9'); 
  var checkbox10 = document.getElementById('switch_10'); 
  var checkbox11 = document.getElementById('switch_11'); 
  var checkbox12 = document.getElementById('switch_12'); 
  var checkbox13 = document.getElementById('switch_13');    
    
  checkbox1.addEventListener('change', (event) => {if (event.target.checked) { aciona_rele('switch1_on');} else {aciona_rele('switch1_off');}})
  checkbox2.addEventListener('change', (event) => {if (event.target.checked) { aciona_rele('switch2_on');} else {aciona_rele('switch2_off');}})
  checkbox3.addEventListener('change', (event) => {if (event.target.checked) { aciona_rele('switch3_on');} else {aciona_rele('switch3_off');}})
  checkbox4.addEventListener('change', (event) => {if (event.target.checked) { aciona_rele('switch4_on');} else {aciona_rele('switch4_off');}})
  checkbox5.addEventListener('change', (event) => {if (event.target.checked) { aciona_rele('switch5_on');} else {aciona_rele('switch5_off');}})
  checkbox6.addEventListener('change', (event) => {if (event.target.checked) { aciona_rele('switch6_on');} else {aciona_rele('switch6_off');}})
  checkbox7.addEventListener('change', (event) => {if (event.target.checked) { aciona_rele('switch7_on');} else {aciona_rele('switch7_off');}})
  checkbox8.addEventListener('change', (event) => {if (event.target.checked) { aciona_rele('switch8_on');} else {aciona_rele('switch8_off');}})
  checkbox9.addEventListener('change', (event) => {if (event.target.checked) { aciona_rele('switch9_on');} else {aciona_rele('switch9_off');}})
  checkbox10.addEventListener('change', (event) => {if (event.target.checked) { aciona_rele('switch10_on');} else {aciona_rele('switch10_off');}})
  checkbox11.addEventListener('change', (event) => {if (event.target.checked) { aciona_rele('switch11_on');} else {aciona_rele('switch11_off');}})
  checkbox12.addEventListener('change', (event) => {if (event.target.checked) { aciona_rele('switch12_on');} else {aciona_rele('switch12_off');}})
  checkbox13.addEventListener('change', (event) => {if (event.target.checked) { aciona_rele('switch13_on');} else {aciona_rele('switch13_off');}})
  
  </script>

<script> // Envia pro python fazer os acionamentos dos reles
  function aciona_rele(rele){
    var xhr = new XMLHttpRequest(); 
    xhr.open("GET", `/reles?` + rele, true);        
    xhr.send();    
  }
</script>

<script> // Seta o valor do checkbox caso não esteja setado
  function toggle(checkbox,valor) {
  var elm = document.getElementById(checkbox);                                              
  if (valor != elm.checked) {                                                
    elm.click();
    }
  }                                        
</script>


</script> -->

<script> // Envia requisição pro Python e atualiza os dados na index                                                                                                    
  function atualiza(){      
        
      var xhr = new XMLHttpRequest(); // Envia pro python atualizar os dados nas variaveis da session 
      xhr.open("GET", `/atualiza`, true); 
      xhr.onload = function(){
      var dados = JSON.parse(this.responseText); // REcebe os dados e atualiza no front

      var rele1 = dados.rele1;
      var tmp = dados.temperatura;
      // document.getElementById('switch_1').checked = rele1;
      document.getElementById('temp').innerHTML = tmp; 
                                                                                                                                              
      }
    xhr.send();                                                             
                                                                                                    
   }

   
    

</script> 

   <script>
      window.onload = function(){
      function editTitle(){
        var title = document.getElementsByTagName('rele1')[0];
        var span = title.firstChild;
        span.onmouseover = function(){
          this.title = 'Clique para editar o texto';
        }
        span.onmouseout = function(){
          this.title = '';
          this.style.background = '';
        }
        span.onclick = function(){
          var textoAtual = this.firstChild.nodeValue;
          var input = '<input type="text" name="1" value="'+textoAtual+'">';
          this.innerHTML = input;
          var field = this.firstChild;
          this.onclick = null;
          this.onmouseover = null;
          field.focus();
          field.select();
          field.onblur = function(){
            this.parentNode.innerHTML = this.value;
            editTitle();
          }
        }
      }
      editTitle();
      var xhr = new XMLHttpRequest();
      var dados = JSON.stringify(textoAtual);
      xhr.open("POST", "https://127.0.0.1:5000/nome_reles");
      xhr.send(dados);
      alert("Enviou dados" + dados)
    }

    </script>

	

	<script>

		// Circles.create({
		// 	id:'tmp2',
		// 	radius:50,
		// 	value: '{{temperatura}}' ,
		// 	maxValue:90,
		// 	width:8,
		// 	text: '{{temperatura}}',
		// 	colors:['#f1f1f1', '#FF9E27'],
		// 	duration:100,
		// 	wrpClass:'circles-wrp',
		// 	textClass:'circles-text',
		// 	styleWrapper:true,
		// 	styleText:true
		// })

		// Circles.create({
		// 	id:'circles-2',
		// 	radius:50,
		// 	value:{{espaco}},
		// 	maxValue:100,
		// 	width:8,
		// 	text: "{{espaco}}%" ,
		// 	colors:['#f1f1f1', '#2BB930'],
		// 	duration:100,
		// 	wrpClass:'circles-wrp',
		// 	textClass:'circles-text',
		// 	styleWrapper:true,
		// 	styleText:true
		// })

		// Circles.create({
		// 	id:'circles-3',
		// 	radius:50,
		// 	value:{{memoria}},
		// 	maxValue:100,
		// 	width:10,
		// 	text: "{{memoria}}%",
		// 	colors:['#f1f1f1', '#F25961'],
		// 	duration:400,
		// 	wrpClass:'circles-wrp',
		// 	textClass:'circles-text',
		// 	styleWrapper:true,
		// 	styleText:true
		// })
    
		var totalIncomeChart = document.getElementById('totalIncomeChart').getContext('2d');

		var mytotalIncomeChart = new Chart(totalIncomeChart, {
			type: 'bar',
			data: {
				labels: ["S", "M", "T", "W", "T", "F", "S", "S", "M", "T"],
				datasets : [{
					label: "Total Income",
					backgroundColor: '#ff9e27',
					borderColor: 'rgb(23, 125, 255)',
					data: [6, 4, 9, 5, 4, 6, 4, 3, 8, 10],
				}],
			},
			options: {
				responsive: true,
				maintainAspectRatio: false,
				legend: {
					display: false,
				},
				scales: {
					yAxes: [{
						ticks: {
							display: false //this will remove only the label
						},
						gridLines : {
							drawBorder: false,
							display : false
						}
					}],
					xAxes : [ {
						gridLines : {
							drawBorder: false,
							display : false
						}
					}]
				},
			}
		});

		$('#lineChart').sparkline([105,103,123,100,95,105,115], {
			type: 'line',
			height: '70',
			width: '100%',
			lineWidth: '2',
			lineColor: '#ffa534',
			fillColor: 'rgba(255, 165, 52, .14)'
		});
    
	</script>

{% endblock javascripts %}
